.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.schedule-time{
  margin-top: 50px !important;
  text-align: center;
}

.book-time-slot{
  margin-top: 80px;
  width: 400px;
}

.book-time-selection{
  margin-top: 80px;
  width: 400px;
}

.myContainer{
  max-width: 100% !important;
  margin-top: 100px;
}