.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.schedule-time{
  /* margin-top: 50px !important; */
  text-align: center;
}



.book-time-slot{
  width: 300px;
}

.scheduler_default_main{
  margin-top: 40px;
}

.book-time-selection{
  margin-top: 10px;
  width: 200px;
}

.myContainer{
  max-width: 100% !important;
}

.hideElement{
  display: none !important
}

.borderValue{
  border-right: 1px solid black;
  background: lightgreen;
}

.border-nav{
  border: 1px solid black;
  background: #282c34;
}

.button-log{
  position: absolute;
  right: 2%;
  top: 2.5%;
}

.button-log-left{
  position: absolute;
  top: 2.5%;
  right: 8%;
}

.welcomeText{
  position: absolute;
  top: 3.5%;
  right: 8%;
}

.fullContainer{
  height: 1600px;
  background: beige;
}

/* .scheduler_default_main{
  display: none !important;
} */

.drop-down{
  position: absolute;
  top:34.5%;
  left: 28%;
}

.abhaas-scheduler{

}