@{
    ViewData["Title"] = "Home Page";
}

<div class="s1">
    <h1>STREAM MANAGEMENT SYSTEM</h1>
</div>

<div class="container-fluid">
    <div id="scheduler"></div>

    <div style="margin-left:20px;margin-top: 20px">
        <select name="id1" id="id1">
            <option value="col1">STREAM PLAYER</option>
            <option value="col2">STREAM CAPTURE</option>
            <option value="col3">STREAM ANALYSER</option>
        </select>
        <select name="id2" id="id2">
            <option value="col1_volvo">DTU315</option>
            <option value="col1_saab">PDM1</option>
            <option value="col1_saab1">PDM2</option>
            <option value="col1_saab2">PDM3</option>
            <option value="col2_saab3">CAPTURE TS</option>
            <option value="col3_saab4">DTU ANALYSER</option>
        </select>
        <input type="date">

        <div style="margin-top:10px">
            <button class="btn btn-primary" type="button">BOOK SLOT</button>
        </div>
    </div>

</div>