@{
    ViewData["Title"] = "Home Page";
}

<div class="s1">
    <h4 style="margin-top: 30px;color:blueviolet">Hi. Welcome @ViewData["userName"]</h4>
    <h2 style="margin-top: 20px">STREAM MANAGEMENT SYSTEM</h2>
</div>

<div style="margin-top: 50px" class="container-fluid">
    <div class="col-lg-4">STREAM PLAYER</div>
    <div class="col-lg-2" style="background-color:orange;">
        <div>DTU315</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM1</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM2</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>

    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM3</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-4">STREAM CAPTURE</div>
    <div class="col-lg-2" style="background-color:orange;">
        <div>DTU315</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM1</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM2</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>

    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM3</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-4">STREAM ANALYSER</div>
    <div class="col-lg-2" style="background-color:orange;">
        <div>DTU315</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM1</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM2</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>

    </div>

    <div class="col-lg-2" style="background-color:orange;">
        <div>PDM3</div>
        <select>
            <option value="volvo">Available</option>
            <option value="saab">In Use</option>
        </select>
    </div>
</div>

<div class="container-fluid" style="margin-left:20px;margin-top: 120px">
    <div id="scheduler"></div>
    <div style="margin-left:20px;margin-top: 20px">
        <select name="id1" id="id1">
            <option value="col1">STREAM PLAYER</option>
            <option value="col2">STREAM CAPTURE</option>
            <option value="col3">STREAM ANALYSER</option>
        </select>

        <select name="id2" id="id2">
            <option value="col1_volvo">DTU315</option>
            <option value="col1_saab">PDM1</option>
            <option value="col1_saab1">PDM2</option>
            <option value="col1_saab2">PDM3</option>
            <option value="col2_saab3">CAPTURE TS</option>
            <option value="col3_saab4">DTU ANALYSER</option>
        </select>

        <input type="date">

        <div style="margin-top:10px">
            <button class="btn btn-primary" type="button">BOOK SLOT</button>
        </div>
    </div>

</div>









